<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've got an order ! <%= @user.first_name %>!</h1>
    <p>The user n°<%= @user.id %>, ordered something. Name : <%= @user.first_name %> <%= @user.last_name %></p>
  </body>
</html>
