<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag @item.image_url, class: "card-img-top img-fluid" %>
    </div>
    <div class="col-lg-8">
      <div class="card-body">
        <h5 class="card-title"><%= @item.title %></h5>
        <p class="card-text" style="font-size:2vw;">ididizijdizj izdjizjdizjdijzidjiz zjdizdjizjdizidjz zidjzijdizjdizjdiz jzidzi jzidjzidizjdizjdz zidjzidjizdjizj zdjizjdizjdijzidj djzjdizjizjidehuhfizuhzudhuzhdz izdizdizjdizjdizjdiz zidjzijdizjdijzidjiz</p>
        <%= button_to "Add to cart", cart_items_path(:id => @item), :remote => true, class: "card-link" %>
        <br><%= link_to "retour à la page précédente", items_path %>
      </div>
    </div>
  </div>
</div><br>
