/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./components
 *= require_self
 */

body {
    font-family: 'Raleway' !important;
    font-size: 19px !important;
    line-height: 26px;
    color: #818181;
    font-weight: 400;
    margin: 0;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-content {
	flex: 1;
}

.fadein { -webkit-animation:fadein 0.7s; animation:fadein 0.7s }
@-webkit-keyframes fadein { from {opacity:0} to {opacity:1} }
@keyframes fadein { from {opacity:0} to {opacity:1} }

.card-link {
	color: #7cd6be !important;
	font-weight: bold;
}

.card-link:hover {
	text-decoration: underline !important;
}

.card-text {
	font-style: italic;
}
.card-img-top {
	width: 348px;
	height: 348px;
}

.card.h-100 {
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease-in-out;
}

.card.h-100:hover {
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease-in-out;
}

.card-body {
	background-color: #f9f9f9;
	border: none;
	border-top: 1px solid #e2e2e2;
}
