<div class="charge_wrapper">
  <h2>Merci !</h2><br>

     Vous avez payé, <strong>$<%= @price %></strong><br><br>

    <%=button_to "VOS COMMANDES", edit_user_registration_path, method: :get, class:"charge-button" %>

</div>
